<TABLE>
  <CAPTION>レシピ一覧</CAPTION>
  <TBODY>
    <TR><TH>30</TH><TD>人気メニュー</TD></TR>
    <TR><TH>31</TH><TD>定番の肉料理</TD></TR>
    <TR><TH>32</TH><TD>定番の魚料理</TD></TR>
    <TR><TH>33</TH><TD>卵料理</TD></TR>
　　<TR><TH>14</TH><TD>ご飯もの</TD></TR>
　　<TR><TH>15</TH><TD＞パスタ</TD></TR>
　　<TR><TH>16</TH><TD>麺、粉物料理</TD></TR>
  </TBODY>
</TABLE>カテゴリ表示ページ
